<% provide(:title, 'Clase | Box app') %>
<div class="center">
    <section>
      <h1>
HORA: <%= @training.hora %> |
      </h1>
    </section>
    <section>
      <h1>
CUPOS: <%= @training.left_slots %>
      </h1>
    </section>


    <h2>
    <%= render 'shared/booking_form' if logged_in? %>
    <%= render 'bookings/index_bookings' if logged_in? %>
    <%= render 'guests/guest_form' if logged_in? %>
  </h2>
