<% provide(:title, 'Clase | Box app') %>
<div class="row">
    <section>
      <h1>
HORA: <%= @training.hora %>
      </h1>
    </section>
    <section>
      <h1>
CUPOS: <%= @training.left_slots %> |
CUPOS PARA INVITADOS: <%= @training.left_guestslot %>
      </h1>
    </section>


    <center>
    <%= render 'shared/booking_form' if logged_in? %>
    <%= render 'bookings/index_bookings' if logged_in? %>
    <%= render 'guests/guest_form' if logged_in? %>
    </center>
