<% provide(:title, 'Inicio | Box app') %>

  <% if logged_in? %>
        <% if @feed_items.any? %>
            <%= render @feed_items %>
          <% else %>
          <h1> WOD </h1>
          <h2> No hay wod para hoy </h2>
        <% end %>
            <% if current_user.admin? %>
    <center>
          <%= link_to "Crear WOD", new_wod_path, class: "btn btn-default" %>
          <%= link_to "Todos los WOD", wods_path, class: "btn btn-default" %>
          </center>
    <% end %>
  <% else %>

<center>
<%= link_to image_tag("boxapp4.png", :size => "330x200") %>
</center>
<center>
<%= link_to "Iniciar sesion", login_path, class: "btn btn-lg btn-primary" %>
<%= link_to "Registrarse", signup_path, class: "btn btn-lg btn-default" %>
</center>
<% end %>
