<% provide(:title, "Inicio de sesion | Box app") %>
<h1>INICIO DE SESION</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:session, url: login_path) do |f| %>

      <%= f.label :email, "Correo electronico" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contrasena" %>
      <%= link_to "(Olvide mi contrasena)", new_password_reset_path %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :remember_me,  class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span>Recordarme en este dispositivo</span>
      <% end %>

      <%= f.submit "Iniciar sesion", class: "btn btn-default" %>
    <% end %>

    <p>Nuevo usuario? <%= link_to "Registrate ahora!", signup_path %></p>
  </div>
</div>
