<form>

   Horas para reservar:
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "7:00am") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "8:00am") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "9:00am") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "10:00am") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "11:00am") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "12:00m") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "1:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "2:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "3:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "4:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "5:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "6:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "7:00pm") %>
<%= check_box_tag(:hora) %>
<%= label_tag(:hora, "8:00pm") %>
</form>
<button><%= link_to "Reservar hora", training_path %> </button>
