<h3><%= wod.warmup %></h3>
<center><%= wod.warmupone %></center>
<center><%= wod.warmuptwo %></center>
<center><%= wod.warumupthree %></center>
<center><%= wod.warmupfour %></center>
<center><%= wod.warmupfive %></center>
<h3><%= wod.inbetween %></h3>
<center><%= wod.skillone %></center>
<center><%= wod.skilltwo %></center>
<center><%= wod.skillthree %></center>
<center><%= wod.skillfour %></center>
<center><%= wod.skillfive %></center>
<center><%= wod.skillsix %></center>
<h3><%= wod.content %></h3>
<center><%= wod.wodmode %></center>
<center><%= wod.wodone %></center>
<center><%= wod.wodtwo %></center>
<center><%= wod.wodthree %></center>
<center><%= wod.wodfour %></center>
<center><%= wod.wodfive %></center>
<center><%= wod.wodsix %></center>
<center><%= wod.wodseven %></center>
<center><%= wod.wodeight %></center>
<center><%= wod.wodnine %></center>
<center><%= wod.wodten %></center>
<center><%= wod.wodeleven %></center>
<center><%= wod.wodtwelve %></center>
<center><%= wod.wodthirteen %></center>
<center><%= wod.wodfourteen %></center>
<center><%= wod.wodfifteen %></center>





<%= link_to "Editar WOD", edit_box_wod_path(wod.box, wod),
    class: "btn btn-default" %>
      <%= link_to "Eliminar WOD", box_wod_path(wod.box, wod), method: :delete,
          data: { confirm: "Seguro que deseas eliminar el WOD?" },
          class: "btn btn-default" %>
