<h1><%= wod.warmup %></h1>
<center><%= wod.warmupone %></center>
<center><%= wod.warmuptwo %></center>
<center><%= wod.warumupthree %></center>
<center><%= wod.warmupfour %></center>
<center><%= wod.warmupfive %></center>
<h1><%= wod.inbetween %></h1>
<center><%= wod.skillone %></center>
<center><%= wod.skilltwo %></center>
<center><%= wod.skillthree %></center>
<center><%= wod.skillfour %></center>
<center><%= wod.skillfive %></center>
<center><%= wod.skillsix %></center>
<h1><%= wod.content %></h1>
<center><%= wod.wodmode %></center>
<center><%= wod.wodone %></center>
<center><%= wod.wodtwo %></center>
<center><%= wod.wodthree %></center>
<center><%= wod.wodfour %></center>
<center><%= wod.wodfive %></center>
<center><%= wod.wodsix %></center>

<% if current_user.admin? %>

<center><%= link_to "Editar WOD", edit_wod_url(wod),
    class: "btn btn-default" %>
      <%= link_to "Eliminar WOD", wod, method: :delete,
          data: { confirm: "Seguro que deseas eliminar el WOD?" },
          class: "btn btn-default" %>
  </center>
<% end %>
