<% provide(:title, "Editar usuario | Box app") %>
<h4>--------------</h4>
<h4>--------------</h4>


<h1>ACTUALIZAR USUARIO</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

      <% if current_user.admin? %>
      <%= f.label :name, "Nombre y Apellido:" %>
      <%= f.text_field :name, class: 'form-control' %>
      <% end %>

      <%= f.label :email, "Correo electronico:" %>
      <%= f.email_field :email, class: 'form-control' %>

      <%= f.label :password, "Contrasena:" %>
      <%= f.password_field :password, class: 'form-control' %>

      <%= f.label :password_confirmation, "Confirmacion de contrasena:" %>
      <%= f.password_field :password_confirmation, class: 'form-control' %>

      <%= f.submit "Guardar cambios", class: "btn btn-default" %>
    <% end %>
