<% provide(:title, 'Perfil de usuario | Box app') %>

<div class="row">
    <section>
      <h1>
        Nombre: <%= @user.name %>
      </h1>
    </section>
    <section>
      <h1>
      Cedula:  <%= @user.ci %>
      </h1>
    </section>



    <% if current_user.admin? %>
    <h1>
    Correo:  <%= @user.email %>
    </h1>
    <h1>
    Admin:  <%= @user.admin %>
    </h1>
    <% end %>

    <div class="center">
    <%= link_to "Repeticiones maximas", user_rms_path(@user), class: "btn btn-primary" %>
