<% provide(:title, 'Perfil de usuario | Box app') %>
<h4>--------------</h4>

<div class="row">
  <aside class="col-md-4">
    <section>
    <h1><%= @user.name %></h1>
    </section>
 </aside>
    <div class="col-md-8">
        <h3>
      <% if @user.rms.any? %>
      Tienes <%= @user.rms.count %> RM</h3>
        <h2><class="rms">
          <%= render @rms %>
          <%= link_to "Agregar RM", new_user_rm_path(current_user), class: "btn btn-default" %>
          <% else %>
          Guarda tus RM!
        <%= link_to "Crear RM", user_rms_path(current_user), class: "btn btn-default" %>
   </h2>
        <%= will_paginate @rms %>
        <% end %>
      </div>
  </div>
